extends layout

block append stylesheets
  link(href='/webfonts/ss-social-circle.css', rel='stylesheet')
  != css('workless')
  != css('event')

block content
  header
    a(href="/") Home
    nav
      ul
        li#about About
        li#schedule Schedule
        li#contact Contact
        li#faq FAQ
      #social
        a.ss-icon.ss-facebook
        a.ss-icon.ss-twitter

  #welcome-image
    h1 Skills...not bills.
  section#about-section

    h1 What is Social Energy?

    .container
      p Social Energy is a non-profit organisation that connects some of the best digital brains with local charities lacking in resources and skills.
      h2 jasdklfjalsdk

    .quote
      blockquote "Join the movement and spend 48 hours collaborating with social and technology innovators and help charities in a way they have never been helped before."
        cite Your Subconcious Mind


  section#schedule-section
  section#contact-section
  section#faq-section

  footer

block append javascripts
  != js('jquery')
  != js('modernizr')
  != js('plugins')
  != js('application')
  != js('event')