extends layout

block append stylesheets
  != css('workless')
  != css('landing')

block content
  header
    a#home Social Energy
  #main-signup
    #signup-form
      input#signup-input.green(type="text", placeholder="Email Address")
      button#signup-btn(type="button") Sign Up!

  footer

block append javascripts
  != js('jquery')
  != js('modernizr')
  != js('plugins')
  != js('application')
  != js('landing')