
body

  header
    margin: 0 auto
    height: 60px
    background-color: #FFF
    border-top: 5px solid rgba(63,167,87,1)
    position: fixed
    width: 100%

    #header-outer

      nav
        ul
          float: left
          position: absolute
          top: 10px
          right: 120px
          color: #111

          li
            opacity: 0.7

            -o-transition: opacity .25s ease-in-out
            -moz-transition: opacity .25s ease-in-out
            -webkit-transition: opacity .25s ease-in-out
            transition: opacity .25s ease-in-out

            float: left
            margin: 5px 10px
            padding: 5px 10px

            &:hover
              opacity: 1
              cursor: pointer

      #social
        float: left
        position: absolute
        right: 40px
        top: 19px

        a
          opacity: 0.7

          -o-transition: opacity .25s ease-in-out
          -moz-transition: opacity .25s ease-in-out
          -webkit-transition: opacity .25s ease-in-out
          transition: opacity .25s ease-in-out

          margin: 5px
          font-size: 1.5em

          &:hover
            opacity: 1
            cursor: pointer

  #welcome-image
    background-color: white
    height: 1000px

  #about-section
    background-color: #0047B2
    height: 1000px
    margin: 0px

  #schedule-section
    background-color: #FFAA00
    height: 1000px

  #contact-section
    background-color: #FF4119
    height: 1000px

  footer
    background-color: #111
    height: 300px



