
#main-signup
  position: relative

  background: url("/images/landing-bg.jpg") no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

  -webkit-transition: background 0.5s linear
  -moz-transition: background 0.5s linear
  -o-transition: background 0.5s linear
  transition: background 0.5s linear

  background-opacity: 1

  height: 800px
  padding-top: 1px


  #signup-form
    display: block
    position: relative

    width: 400px
    opacity: 0.6
    background-color: #222
    margin: 130px auto auto auto

    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    -o-border-radius: 5px
    border-radius: 5px

    button
      margin: 10px 10px 12px
      width: 100px
      height: 40px

    input
      margin: 15px 10px
      width: 245px
      height: 20px
      font-size: 1.1em

header
  margin: 0 auto
  height: 50px
  background-color: #111
  //border-top: 5px solid rgba(63,167,87,1)

footer
  height: 200px
  background: #111
