
#main-signup
  position: relative

  background: url("/images/landing-bg.jpg") no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

  -webkit-transition: background 0.5s linear
  -moz-transition: background 0.5s linear
  -o-transition: background 0.5s linear
  transition: background 0.5s linear

  background-opacity: 1

  height: 800px
  padding-top: 1px


  #signup-form
    display: block
    position: relative

    width: 400px
    opacity: 0.6
    background-color: #222
    margin: 130px auto auto auto

    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    -o-border-radius: 5px
    border-radius: 5px

    button
      margin: 10px 10px 12px
      width: 100px
      height: 40px
      color: #FFF
      background-color: rgb(40, 148, 52)

      &:hover
        background-color: rgb(60, 168, 72)

      &:active
        color: rgb(70, 178, 82)
        background-color: rgb(255, 255, 255)

    input
      margin: 15px 10px
      width: 245px
      height: 20px
      font-size: 1.1em

header
  margin: 0 auto
  padding-top: 10px
  height: 85px
  background-color: #222
  //border-top: 5px solid rgba(63,167,87,1)
  //border-bottom: 2px solid #111

  a#home
    display: block
    text-indent: -9999px
    background-image: url("/images/social-energy.png")
    background-repeat: no-repeat
    background-size: 80%
    height: 100%
    width: 100px
    margin-left: 50px

footer
  height: 200px
  background: #111
